.ContactList {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 10px;
}
.item {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  align-content: space-between;
}
